.container {
    height: 100vh;
  }
  
  .content {
    text-align: center;

    padding: 20px;
  }
  
  .container h1 {
    font-size: 78px;
    margin-bottom: 20px;
  }
  
  .container  p {
    margin-top:100px;
    font-size: 30px;
    //max-width: 1000px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  